<div data-input-class='{{className}}' data-field-name='{{fieldName}}'>

    {{options}}

    <div class='InputfieldMarkup ace-editor-wrapper'>
        <a href="#" class="ace-editor-resize">
            <i class="ace-editor-resize__maximize fa fa-arrows-alt"></i>
            <i class="ace-editor-resize__minimize fa fa-times"></i>
        </a>
        <div id='{{id}}' class='InputfieldContent ace-editor'></div>
    </div>

    {{textarea}}

    <!--
        'data-ajax-enable' necessary, if the following issue is fixed like suggested:
        https://github.com/processwire/processwire-issues/issues/112
    -->
    <script data-ajax-enable type="text/javascript" charset="utf-8">
    {{script}}
    </script>
</div>
