<div data-input-class='{{className}}' data-field-name='{{name}}'>

    {{options}}

    <div class='InputfieldMarkup ace-editor-wrapper'>
        <a href="#" class="ace-editor-resize">
            <i class="ace-editor-resize__maximize fa fa-arrows-alt"></i>
            <i class="ace-editor-resize__minimize fa fa-times"></i>
        </a>
        <div id='{{id}}' class='InputfieldContent ace-editor'></div>
    </div>

    {{textarea}}

    <script type="text/javascript" charset="utf-8">
    {{script}}
    </script>
</div>
